<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">
    <sql id="user-columns">id,name,lname,ename,sex,mobile,tel,mail,fax,zipcode,address,status,until,mdate,mid,otype,photourl,remark</sql>

    <select id="getUserById" resultType="com.enchantment.eaas.domain.User">
        select <include refid="user-columns"></include>
        from t_user where id=#{id}
    </select>

    <select id="getUsers" resultType="com.enchantment.eaas.domain.User">
        select <include refid="user-columns"></include>
        from t_user
        <where>
            <if test="id != null and id != ''">
                and id=#{id}
            </if>
            <if test="sex != 0">
                and sex=#{sex, jdbcType=INTEGER}
            </if>
            <if test="status != 0">
                and status=#{status, jdbcType=INTEGER}
            </if>
            <if test="name != null and name != ''">
                <bind name="p_name" value="'%' + _parameter.getName() + '%'" />
                and name like #{p_name}
            </if>
            <if test="lname != null and lname != ''">
                <bind name="p_lname" value="'%' + _parameter.getLname() + '%'" />
                and lname like #{p_lname}q
            </if>
            <if test="ename != null and ename != ''">
                <bind name="p_ename" value="'%' + _parameter.getEname() + '%'" />
                and ename like #{p_ename}
            </if>
            <if test="mobile != null and mobile != ''">
                <bind name="p_mobile" value="'%' + _parameter.getMobile() + '%'" />
                and mobile like #{p_mobile}
            </if>
            <if test="mail != null and mail != ''">
                <bind name="p_mail" value="'%' + _parameter.getMail() + '%'" />
                and mail like #{p_mail}
            </if>
        </where>
    </select>

    <insert id="addUser" parameterType="com.enchantment.eaas.domain.User">
        insert into t_user
        (<include refid="user-columns"></include>)
        values (#{id},#{name},#{lname},#{ename},#{sex},#{mobile},#{tel},#{mail},#{fax},#{zipcode},#{address},#{passwd1},#{passwd2},#{passwd3},#{passwd4},#{passwd5},#{status},#{until},#{mdate},#{mid},#{otype},#{photourl},#{remark})
    </insert>

    <update id="modUser">
        update t_user set
            id=#{id},
            name=#{name},
            lname=#{lname},
            ename=#{ename},
            sex=#{sex},
            mobile=#{mobile},
            tel=#{tel},
            mail=#{mail},
            fax=#{fax},
            zipcode=#{zipcode},
            address=#{address},
            passwd1=#{passwd1},
            passwd2=#{passwd2},
            passwd3=#{passwd3},
            passwd4=#{passwd4},
            passwd5=#{passwd5},
            status=#{status},
            until=#{until},
            mdate=#{mdate},
            mid=#{mid},
            otype=#{otype},
            photourl=#{photourl},
            remark=#{remark}
        where id=#{id}
    </update>

    <delete id="delUser">
        delete from t_user where id=#{id}
    </delete>

    <delete id="delUsers">
        delete from t_user where id in
        <foreach item="ids" index="index" collection="list"
                 open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>